* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sem serifa;
}

body {
  background-color: hsl(212, 45%, 89%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 15px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px;
}

.container:hover{
  box-shadow: 0px 5px 15px rgba(4, 8, 250, 0.568);
}

.qr-code {
  border-radius: 40px;
  width:100%;
  margin: 0 auto;
  background: center no-repeat;
  background-size: cover;
  cursor: pointer;
}


.text {
  padding: 4px 6px;
  text-align: center;
  line-height: 35px;
  font-weight: 700, 400;
  cursor: context-menu;
}

.paragrafo {
  text-align: center;
  font-weight: 400;
  color: gray;
}

p {
 margin: 30px;
  text-align: center;
}

@media (max-width: 500px) {
  .container{
      width: 75%;
  }
}


